.lt-blue-color{
    color: #5B7389 !important;
}

.lt-white-color{
    color: #FFF !important;
}

.lt-bg-blue{
    background-color: #5B7389 !important;
}

.lt-btn{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    letter-spacing: 1.2px;
}



