{% extends 'base.html.twig' %}
{% block title %}Server Internal Error{% endblock %}
{% block stylesheets %}
    <link
        type="text/css"
        rel="stylesheet"
        href="{{ ABS_HOME_URI~'/'~pathFromRoot~'/stylesheet.css' }}"
    >

    <!-- Icomoon CSS File -->
    <link
        type="text/css"
        rel="stylesheet"
        href="{{ ABS_HOME_URI~'/temp/icomoon-v1.0/style.css' }}"
    >
{% endblock %}
{% block main %}
<div class="container container-http-response-debug no-margin-horizontal pt-2">
    <div class="row mt-2">
        <div class="col">
            <img
                class="rounded d-block lt-logo-medium-to-big mb-2" alt="LOTTUS"
                src="{{ ABS_HOME_URI~'/src/img/logo/without_background/logo_208x190.png' }}"
            >
            <p class="subtitle-logo-html-response-debug mb-3 ml-2">LOTTUS</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <b class="text-http-response-debug">404.</b>
            <span class="text-muted text-http-response-debug">Página não encontrada ):</span>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <span class="text-muted text-http-response-debug">
                Verifique se o endereço requisitado na URL está correto.
            </span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-right mt-5">

            <a
                class="btn btn-link lt-btn html-response-debug-link text-decoration-none"
                href="{{ ABS_HOME_URI~'/index.php' }}"
            >
                <i class="imoon-home black v-text-top"></i>
                Página Inicial
            </a>

        </div>
    </div>

</div>
{% endblock %}