body{
    /*background-color: black !important;*/
    padding: 14px;
}

.container-http-response-debug{
    min-width: 100% !important;
}

.html-response-debug-link{
    font-size: 20px;
    color: #ad8c13;
}

.html-response-debug-link i{
    font-size: 22px;
}

.html-response-debug-link:hover {
    color: #888aaa;
}

.text-http-response-debug{
    font-size: 18px;
    letter-spacing: 0.7px;
}

.subtitle-logo-html-response-debug{
    color: #5B7389;
    font-family: "emoji", sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.subcontainerHome{
    /*background-color: #c1dbc8;*/
    padding: 18px;

    display: flex !important;
    flex : 1 !important;
    min-width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bg1{
    background-color: #6a5a7d;
}

.bg2{
    background-color: #cfdb91;
}

.bg3{
    background-color: #705b48;
}

.bg3{
    background-color: #032667;
}




