{% extends 'experimental.html.twig' %}
{% block title %}SRTDash Admin Sample Page{% endblock %}

{% block main_content_inner %}
    {% include 'srtdash-content-sample.html.twig' %}
{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}
{% endblock %}