<!doctype html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login - Lottus PHP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ ABS_HOME_URI~'/favicon.ico' }}">
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/bootstrap.min.css' }}">
    <!-- amchart css -->
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/export.css' }}" media="all" />
    <!-- others css -->
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/typography.css' }}">
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/default-css.css' }}">
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/styles.css' }}">
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/responsive.css' }}">

    <!-- Icomoon CSS -->
    <link href="{{ ABS_HOME_URI~'/temp/icomoon-v1.0/style.css' }}" rel="stylesheet" >

    <!-- Global App CSS -->
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/src/css/global.css' }}">

    <!-- Custom Page CSS -->
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/templates/pages/login/stylesheet.css' }}">

    <!-- Themefy Icons CSS -->
    <link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/themify-icons.css' }}">



</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- login area start -->
<div class="login-area" id="area-login">

    <div class="container">
        <div class="login-box">
            <form method="post" action="{{ ABS_HOME_URI~'/ajax/login.php' }}">
                <div class="login-form-head" id="head-login">
                    <img
                            src="{{ ABS_HOME_URI~'/src/img/logo/without_background/logo_208x190.png' }}"
                            alt="Lottus PHP"
                            class="lt-logo-medium mb-4"
                    >
                    <h4>Sign In</h4>
                    <p class="text-muted">
                        Seja muito bem vindo ao Lottus PHP! Faça login e curta as primeiras
                        funcionalidades que estão sendo desenvolvidas.
                    </p>
                </div>
                <div class="login-form-body" id="body-login">
                    <div class="form-gp">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="usuario" id="usuario" autocomplete="off" autofocus>
                        <i class="ti-email"></i>
                        <div class="validation-label-msg"></div>
                    </div>
                    <div class="form-gp">
                        <label for="senha">Password</label>
                        <input type="password" name="senha" id="senha">
                        <i class="ti-lock"></i>
                        <div class="text-danger"></div>
                    </div>
                    <div class="row mb-4 rmber-area">
                        <div class="col-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                <label class="custom-control-label" for="customControlAutosizing">Lembrar credenciais</label>
                            </div>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#">Esqueceu sua senha?</a>
                        </div>
                    </div>
                    <div class="submit-btn-area">
                        <button id="btn-login" type="submit">Enviar <i class="ti-arrow-right"></i></button>
                        <div class="login-other row mt-4">
                            <div class="col-6">
                                <a id="btn-login-fb" class="btns-login" href="#">
                                    Log in com
                                    <i class="fa fa-facebook-official " style="font-size: 18px;"></i>
                                </a>
                            </div>
                            <div class="col-6">
                                <a id="btn-login-google" class="btns-login" href="#">
                                    Log in com
                                    <i class="fa fa-google" style="font-size: 20px;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-footer text-center mt-5">
                        <p class="text-muted">
                            Ainda não tem uma conta?
                            <a href="#">Cadastre-se aqui</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- login area end -->

<!-- jquery latest version -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/node_modules/jquery/dist/jquery.min.js' }}"></script>

<!-- jQuery Validation -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/node_modules/jquery-validation/dist/jquery.validate.min.js' }}"
></script>

<!-- jQuery Validation default settings -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/src/js/jquery-validation-settings.js' }}"
></script>

<!-- jQuery Form -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/node_modules/jquery-form/dist/jquery.form.min.js' }}"
></script>

<!-- Bootbox Plugin -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/node_modules/bootbox/dist/bootbox.min.js' }}"
></script>

<!-- bootstrap 4 js -->
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/bootstrap.min.js' }}"></script>

<!-- Global JS Functions File -->
<script type="text/javascript" src="{{ ABS_HOME_URI~'/src/js/functions.js' }}"></script>

<!-- Global JS Constants File -->
<script type="text/javascript" src="{{ ABS_HOME_URI~'/src/js/globalThis.js' }}"></script>


<!-- Page JS -->
<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/templates/pages/login/js/login.js' }}"></script>

</body>

</html>