.bg1{
    background-color: #6a5a7d;
}

.bg2{
    background-color: #cfdb91;
}

.bg3{
    background-color: #705b48;
}

.bg3{
    background-color: #032667;
}

#area-login{
    background-color: #FCFCFC;
}

#head-login{
    /*border-top: 1px solid black;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #FFF !important;
}

#head-login h4 {
    color: #5B7389 !important;
}

.btns-login{
    color: #fff;
    background-color: #5B7389 !important;
    border-radius: 4px !important;
    text-transform: none !important;
}

.btns-login:hover {
    color: #d9d9d9 !important;
    box-shadow: 0 5px 15px rgb(195, 166, 124);
}

.fa-facebook-official{
    /*color: #fff !important;*/
}

.fa-google{
    color: #ccb393 !important;
}

.submit-btn-area button{
    background-color: #f3eded !important;
}

.submit-btn-area button:hover{
    background-color: #5373a5 !important;
}

/* Disabled setting for submit button */
.submit-btn-area button[disabled="disabled"]:hover{
    background-color: #f3eded !important;
    color: #585b5f !important;
    cursor : default;
}

.form-gp{
    margin-bottom: 18px !important;
}

.form-gp label{
    position: relative !important;
}

.login-form-head{
    padding: 30px !important;
}

.login-form-body{
    padding: 22px 42px !important;
}




