<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8" >
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %} {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>