{% extends 'base.html.twig' %}
{% block title %}Meu título atualizado{% endblock %}
{% block body %}
    <!--suppress LossyEncoding -->
    <h1>Olá mundo!</h1>
    {{ nome|upper }}

    {% if bool %}
        Verdadeiro
    {% else %}
        Falso
    {% endif %}

    {% for item in lista %}
        {{ item }}
    {% endfor %}

    {{ lista|length }}
{% endblock %}



