<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>{% block title %}DebugHTML File{% endblock %}</title>
        <!-- for HTML5 -->
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{{ ABS_HOME_URI~'/favicon.ico' }}">
        <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/font-awesome.min.css' }}">
        <link rel="stylesheet" href="{{ ABS_HOME_URI~'/node_modules/bootstrap/dist/css/bootstrap.min.css' }}">

        <link rel="stylesheet" href="{{ ABS_HOME_URI~'/'~pathFromRoot~'/stylesheet.css' }}">
    </head>
    <body>
    {% block body %}
        <div class="containerDebug">
            <h2 class="center" id="titleDebug">Debug HTML</h2>
            {% if renderType == 1 %}
                {{ content | raw }}
            {% else %}
                <table>
                    <tr>
                        <th>Last Transaction Type</th>
                        <td>{{ lastTransactionType }}</td>
                    </tr>
                    <tr>
                        <th>Exception</th>
                        <td>{{ content }}</td>
                    </tr>
                    <tr>
                        <th>Last Prepared Stmt</th>
                        <td>{{ lastPreparedStmt }}</td>
                    </tr>
                    <tr>
                        <th>Last Executed Query</th>
                        <td>{{ lastExecutedQuery }}</td>
                    </tr>
                </table>
                <br>

                <div id="container-acc-php-error-log" class="text-center">
                    <div class="mb-0 d-flex justify-content-center">
                        <a
                            class="collapsed subtitle-debug"
                            role="button"
                            data-toggle="collapse"
                            href="#collapse-x"
                            aria-expanded="false"
                            aria-controls="collapse-x"
                        >
                            <i class="fa" aria-hidden="true"></i>
                            PHP Error Log
                        </a>
                    </div>

                    <div
                        id="collapse-x"
                        class="collapse"
                        data-parent="#container-acc-php-error-log"
                        aria-labelledby="heading-2">
                        <table class="mt-3">
                            <tr class="row-error-log">
                                <td>{{ phpErrorLog|raw }}</td>
                            </tr>
                        </table>
                    </div>
                </div>

            {% endif %}
        </div>
    {% endblock %}
    <!-- jquery latest version -->
    <script src="{{ ABS_HOME_URI~'/assets/srtdash/js/vendor/jquery-2.2.4.min.js' }}"></script>
    <script src="{{ ABS_HOME_URI~'/node_modules/bootstrap/dist/js/bootstrap.min.js' }}"></script>
    <script type="text/javascript">
        $(function(){
            // $('#teste').collapse({
            //     toggle: true
            // })
        });
    </script>
    </body>

</html>