body{
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 20px;
}

#titleDebug{
    color : #FFD700;
    font-family: "Lucida Bright", sans-serif;
}

.containerDebug{
    background-color: #1f1f1f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    width: 85%;
}

pre {
    width: 99%;
    overflow: auto;
    border: 1px solid #aaa;
    padding: 0;
    margin: 0;
}

.row-error-log{
    background-color: #e4ddd4 !important;
}

.row-error-log td{
    font-size: 16px !important;
}

table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

td, th{
    padding : 8px;
}

td{
    font-size: 22.5px;
    max-width: 0;
    overflow: hidden;
}

.subtitle-debug{
    font-weight: bold !important;
}

th, .subtitle-debug{
    font-family: "Nirmala UI", sans-serif;
    font-size: 24px;
    width: 350px !important;
    color: #EAE2C2;
}

tr:nth-child(even) {background: #35353E}
tr:nth-child(odd) {background: #262626}

#container-acc-php-error-log{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}

.center{
    text-align: center;
}

.mb-0 > a {
    display: block;
    position: relative;
}

.mb-0 > a:hover {
    text-decoration: none !important;
    color: #ffc113 !important;
}

.mb-0 > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
}





