{% extends 'base.html.twig' %}
{% block title %}Página Inicial{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ ABS_HOME_URI~'/'~pathFromRoot~'/stylesheet.css' }}">
{% endblock %}
{% block main %}
    <div class="container">
        <div class="subcontainerHome">

            <div class="row">
                <a
                    href="{{ ABS_HOME_URI~'/login.php' }}"
                    class="btn btn-primary btn-lg"
                    role="button" aria-pressed="true">Login</a>
                <a
                    href="{{ ABS_HOME_URI~'/admin/index.php' }}"
                    class="btn btn-primary btn-lg bg1"
                    role="button" aria-pressed="true">Home - Admin</a>
                <button type="button" class="btn btn-lg btn-primary bg1">UNDEFINED</button>
            </div>
            <div class="row">
                <button type="button" class="btn btn-lg btn-primary bg1">UNDEFINED</button>
                <button type="button" class="btn btn-lg btn-primary bg3">UNDEFINED</button>
                <button type="button" class="btn btn-lg btn-primary bg2">UNDEFINED</button>
            </div>

            <span class="h3 text-muted">Página em construção</span>
            <a class="btn btn-lg lt-white-color lt-bg-blue" href="{{ ABS_HOME_URI~'/login.php' }}" role="button">Login</a>
            <a class="btn btn-lg lt-white-color lt-bg-blue mt-2" href="{{ ABS_HOME_URI~'/admin-sample-page-with-srtdash.php' }}" role="button">SRTDash Admin Sample Page Layout</a>
        </div>

    </div>


{% endblock %}