body{
    /*background-color: black !important;*/
    padding: 5px;
}

.container{
    /*background-color: #a9a7ff;*/
    display: flex !important;
    flex : 1 !important;
    flex-direction: column;
    align-items: center;
    min-height: 95vh;
    min-width: 80vw;
}

.subcontainerHome{
    /*background-color: #c1dbc8;*/
    padding: 18px;

    display: flex !important;
    flex : 1 !important;
    min-width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bg1{
    background-color: #6a5a7d;
}

.bg2{
    background-color: #cfdb91;
}

.bg3{
    background-color: #705b48;
}

.bg3{
    background-color: #032667;
}




