{% extends 'experimental.html.twig' %}
{% block title %}Form Analysis{% endblock %}
{% block subtitle %}Form Analysis{% endblock %}

{% block stylesheets %}
    <!-- Elements CSS -->
    <link
        type="text/css"
        rel="stylesheet"
        href="{{ ABS_HOME_URI~'/src/css/elements.css' }}"
    >
{% endblock %}

{% block main_content_inner %}
{#    {% include 'srtdash-content-sample.html.twig' %}#}

    <div class="main-content-inner">

        <div class="input-frames-area my-2">
            {{ formAnalysisInputFrames|raw }}

            <div class="row">
                <div class="col-12 text-center">

                    <button
                        type="button"
                        class="btn btn-info lt-bg-blue lt-btn"
                        id="btn-analisar-elem"
                        data-toggle="modal"
                        data-target="#modal-formAnalysis"
                    >
                        Analisar Elementos
                    </button>

                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="modal-formAnalysis"
                        tabindex="-1"
                        aria-labelledby="modal-formAnalysis-Label"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-formAnalysis">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="container-modal-header">
                                        <div class="mHeader-row">
                                            <div id="divTitle" class="d-flex">Resultado</div>
                                            <div id="divTimes" class="d-flex text-muted">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mHeader-row justify-content-center pt-1">
                                            <div id="divSubtitle" class="">
                                                <p class="text-muted">Dados com base em um total de {{ precision }} sorteios</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="body-modal-formAnalysis" class="modal-body pd-4">
                                    <div id="divContent">
                                        <div id="loader-modal-content" class="spinner-border lt-blue-color" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div id="content-container" style="display: none"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}

    <!-- jQuery Autotab Lib -->
    <script src="{{ ABS_HOME_URI~'/temp/jquery.autotab.js' }}"></script>

    <!-- SessionManager JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/SessionManager/SessionManager.js' }}"></script>

    <!-- Elements JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Elements/Elements.js' }}"></script>

    <!-- DBCaching JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/DBCaching/DBCaching.js' }}"></script>

    <!-- Copy-to-Clipboard JS Plugin -->
    <script src="{{ ABS_HOME_URI~'/node_modules/copy-to-clipboard/example/index.js' }}"></script>

    <!-- Page custom JS -->
    <script
        type="text/javascript"
        src="{{ ABS_HOME_URI~'/admin/templates/pages/form-analysis/js/form-analysis.js' }}"></script>
{% endblock %}
