<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{{ ABS_HOME_URI~'/assets/srtdash/index.html' }}">
                <img src="{{ ABS_HOME_URI~'/assets/srtdash/images/icon/logo.png' }}" alt="logo">
            </a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li class="active">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-dashboard"></i><span>dashboard</span></a>
                        <ul class="collapse">
                            <li class="active"><a href="{{ ABS_HOME_URI~'/assets/srtdash/index.html' }}">ICO dashboard</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/index2.html' }}">Ecommerce dashboard</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/index3.html' }}">SEO dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>Sidebar
                                            Types
                                        </span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/index.html' }}">Left Sidebar</a></li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/index3-horizontalmenu.html' }}">
                                    Horizontal Sidebar
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-pie-chart"></i><span>Charts</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/barchart.html' }}">bar chart</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/linechart.html' }}">line Chart</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/piechart.html' }}">pie chart</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-palette"></i><span>UI Features</span></a>
                        <ul class="collapse">
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/accordion.html' }}">Accordion</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/alert.html' }}">Alert</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/badge.html' }}">Badge</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/button.html' }}">Button</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/button-group.html' }}">Button Group</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/cards.html' }}">Cards</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/dropdown.html' }}">Dropdown</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/list-group.html' }}">List Group</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/media-object.html' }}">Media Object</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/modal.html' }}">Modal</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/pagination.html' }}">Pagination</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/popovers.html' }}">Popover</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/progressbar.html' }}">Progressbar</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/tab.html' }}">Tab</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/typography.html' }}">Typography</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/form.html' }}">Form</a>
                            </li>
                            <li>
                                <a href="{{ ABS_HOME_URI~'/assets/srtdash/grid.html' }}">grid system</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-slice"></i><span>icons</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/fontawesome.html' }}">fontawesome icons</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/themify.html' }}">themify icons</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-table"></i>
                            <span>Tables</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/table-basic.html' }}">basic table</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/table-layout.html' }}">table layout</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/datatable.html' }}">datatable</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/maps.html' }}"><i class="ti-map-alt"></i> <span>maps</span></a></li>
                    <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/invoice.html' }}"><i class="ti-receipt"></i> <span>Invoice Summary</span></a></li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layers-alt"></i> <span>Pages</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/login.html' }}">Login</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/login2.html' }}">Login 2</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/login3.html' }}">Login 3</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/register.html' }}">Register</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/register2.html' }}">Register 2</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/register3.html' }}">Register 3</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/register4.html' }}">Register 4</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/screenlock.html' }}">Lock Screen</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/screenlock2.html' }}">Lock Screen 2</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/reset-pass.html' }}">reset password</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/pricing.html' }}">Pricing</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-exclamation-triangle"></i>
                            <span>Error</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/404.html' }}">Error 404</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/403.html' }}">Error 403</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash/500.html' }}">Error 500</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true">
                            <i class="fa fa-align-left"></i>
                            <span>Multi level menu</span></a>
                        <ul class="collapse">
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (1)</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (1)</a></li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}" aria-expanded="true">Item level (1)</a>
                                <ul class="collapse">
                                    <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (2)</a></li>
                                    <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (2)</a></li>
                                    <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (2)</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ ABS_HOME_URI~'/assets/srtdash#' }}">Item level (1)</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>