{% extends 'experimental.html.twig' %}
{% block title %}Form Analysis{% endblock %}
{% block subtitle %}Form Analysis{% endblock %}

{% block stylesheets %}
    <!-- Elements CSS -->
    <link
        type="text/css"
        rel="stylesheet"
        href="{{ ABS_HOME_URI~'/src/css/elements.css' }}"
    >
{% endblock %}

{% block main_content_inner %}
{#    {% include 'srtdash-content-sample.html.twig' %}#}

    <div class="main-content-inner">

        <div class="row">
            <div class="col-8 mx-auto text-center">
                    <span class="subtitle-small">
                        Elementos com maiores frequências em sorteios até o
                        momento <br>
                        baseado em um total de
                        <span id="span-precision">{{ precision }}</span> sorteios.
                    </span>
            </div>
        </div>

        <div class="input-frames-area">
            {{ inputFramesMostFrequent|raw }}
            {{ inputFrames|raw }}
        </div>

        <div class="row mt-5">
            <div class="col-8 mx-auto text-center">
                <button
                        type="button"
                        class="btn btn-info lt-bg-blue lt-btn"
                        id="btn-gen-random-elements"
                >
                    Gerar Números Aleatórios
                </button>
            </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}

    <!-- jQuery Autotab Lib -->
    <script src="{{ ABS_HOME_URI~'/temp/jquery.autotab.js' }}"></script>

    <!-- SessionManager JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/SessionManager/SessionManager.js' }}"></script>

    <!-- Elements JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Elements/Elements.js' }}"></script>

    <!-- DBCaching JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/DBCaching/DBCaching.js' }}"></script>

    <!-- Copy-to-Clipboard JS Plugin -->
    <script src="{{ ABS_HOME_URI~'/node_modules/copy-to-clipboard/example/index.js' }}"></script>

    <!-- Page custom JS -->
    <script
        type="text/javascript"
        src="{{ ABS_HOME_URI~'/admin/templates/pages/gen-random-elements/js/gen-random-elements.js' }}"></script>
{% endblock %}
