<!DOCTYPE html>
<html lang="pt" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{{ ABS_HOME_URI~'/favicon.ico' }}">
    <title>{{ ( title ) ? title : 'UNTITLED PAGE' }}</title>

    <!-- Bootstrap core CSS -->
{#    <link href="{{ ABS_HOME_URI~'/assets/srtdash/css/bootstrap.min.css' }}" rel="stylesheet">#}
    <link
        href="{{ ABS_HOME_URI~'/node_modules/bootstrap/dist/css/bootstrap.min.css' }}"
        rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{{ ABS_HOME_URI~'/assets/srtdash/css/font-awesome.min.css' }}" rel="stylesheet">

    <!-- Icomoon CSS -->
    <link href="{{ ABS_HOME_URI~'/temp/icomoon-v1.0/style.css' }}" rel="stylesheet" >


    <!-- Template CSS Dependencies -->
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/themify-icons.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/metisMenu.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/owl.carousel.min.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/slicknav.min.css' }}">
    <!-- amchart css -->
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/export.css' }}" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/typography.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/default-css.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/styles.css' }}">
    <link rel="stylesheet" href="{{ ABS_HOME_URI~'/assets/srtdash/css/responsive.css' }}">
    <!-- modernizr css -->
    <!-- #/Template CSS Dependencies -->

    <!-- Global css -->
    <link href="{{ ABS_HOME_URI~'/src/css/global.css' }}" rel="stylesheet">

    <!-- Theme css -->
    <link href="{{ ABS_HOME_URI~'/src/css/themes/default.css' }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ ABS_HOME_URI~'/'~pathFromRoot~'/stylesheet.css' }}" rel="stylesheet">

    <!-- Any optional stylesheet page block -->
    {% block stylesheets %}{% endblock %}

</head>

<body>

<!--[if lt IE 8]>
<p class="browserupgrade">
    You are using an <strong>outdated</strong> browser. Please
        <a href="{{ ABS_HOME_URI~'/' }}">
            upgrade your browser
        </a>
        to improve your experience.
</p>
<![endif]-->

<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->

<!-- page container area start -->
<div class="page-container">

    <!-- sidebar menu area start -->
    {% include 'sidebar.html.twig' %}
    <!-- sidebar menu area end -->

    <!-- main content area start -->
    <div class="main-content">

        <!-- header area start -->
        {% include 'header.html.twig' %}
        <!-- header area end -->

        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">

                <!-- Breadcrumbs start -->
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left d-xxs-none">
{#                            {% block subtitle %}{% endblock %}#}
                            {{ ( subtitle ) ? subtitle : '' }}
                        </h4>
                        {% if show_breadcrumbs %}
                            <ul class="breadcrumbs pull-left">
                                <li><a href="assets/srtdash/index.html">Home</a></li>
                                <li><span>Dashboard</span></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <!-- Breadcrumbs end -->

                <!-- User options start -->
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img
                            class="avatar user-thumb"
                            src="{{ ABS_HOME_URI~'/assets/srtdash/images/author/avatar.png' }}"
                            alt="avatar"
                        >
                        <h4
                            class="user-name dropdown-toggle"
                            data-toggle="dropdown">
                            Kumkum Rai
                            <i class="fa fa-angle-down"></i>
                        </h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </div>
                </div>
                <!-- User options end -->

            </div>
        </div>
        <!-- page title area end -->

        <!-- Main content inner start -->
        {% block main_content_inner %}{% endblock %}
        <!-- Main content inner end -->

    </div>
    <!-- main content area end -->

    <!-- footer area start-->
    {% block footer %}
        {% include 'footer.html.twig' %}
    {% endblock %}
    <!-- footer area end-->

</div>
<!-- page container area end -->

<!-- offset area start -->
{% include 'offset-options.html.twig' %}
<!-- offset area end -->

<!-- Jquery -->
{#<script
        type="text/javascript"
        src="{{ ABS_HOME_URI~'/node_modules/jquery/dist/jquery.min.js' }}">
</script>#}

<!-- Popper JS -->
{#<script src="{{ ABS_HOME_URI~'/node_modules/@popperjs/core/dist/umd/popper.js' }}"></script>#}

<!-- jquery latest version -->
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/jquery-2.2.4.min.js' }}"></script>

<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/popper.min.js' }}"></script>
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/bootstrap.min.js' }}"></script>
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/owl.carousel.min.js' }}"></script>
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/metisMenu.min.js' }}"></script>
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/jquery.slimscroll.min.js' }}"></script>
<script src="{{ ABS_HOME_URI~'/assets/srtdash/js/jquery.slicknav.min.js' }}"></script>

<!-- Bootstrap core JS -->
{#<script
    type="text/javascript"
    src="{{ ABS_HOME_URI~'/node_modules/bootstrap/dist/js/bootstrap.min.js' }}">
</script>#}

<!-- Global JS Functions File -->
<script type="text/javascript" src="{{ ABS_HOME_URI~'/src/js/functions.js' }}"></script>

<!-- Global JS Constants File -->
<script type="text/javascript" src="{{ ABS_HOME_URI~'/src/js/globalThis.js' }}"></script>

{% block javascripts %}{% endblock %}
</body>


</html>
