body{
    padding : 15px;
}

.container{
    padding-top: 15px;
}

.robot{
    color : #aaa;
    font-family: Roboto, SansSerif, serif;
    letter-spacing: 1.2px;
}

.f-26{
    font-size: 26px !important;
}

.f-22{
    font-size: 22px !important;
}



.robot2{
    color : #A8A8A8;
    font-family: Roboto, SansSerif, serif;
    letter-spacing: 1.2px;
}

#desculpas-small{
    font-size: 20px !important;
}



