.card-element-icon{
    font-size: 18px;
}

.card-element-icon:hover{
    cursor: pointer;
    color: #ccc;
}

table tr th,
table tr td {
    border: none !important;
}

#temp{
    /*max-width: 55%;*/
    border: 0.1px solid rgba(0,0,0, 0.05);
    border-radius: 6px;
}

.disabledInputFrame{
    background-color: transparent !important;
}

.container-card-elements{

}

.table-elements td, .table-elements th {
    text-align: center;
    padding: .28rem !important;
}

.title-elements{
    font-size: 16.5px;
    font-family: 'Roboto', sans-serif;
}

.subtitle-elements{
    color: #19568c;
}

.clear-elements-icon{
    font-size: 26px;
    color: #000;
    vertical-align: middle;
}

.clear-elements-icon:hover{
    cursor: pointer;
    color: #e27c7c;
}

.card-elements-area{
    padding : 4px;
    /*border: 0.1px solid rgba(0,0,0, 0.05);
    border-radius: 6px;*/
}

.card-elements-title{
    font-size: 19px;
}

.card-elements-occurrences{
    font-size: 12px;
    letter-spacing: 2px;
    color: #ccc
}

.card-elements-header{
    /*background-color: #a7b6c3;*/
}

.element-text{
    color: #268C24;
    font-family: "Arial Black", sans-serif;
    font-size: 16px;
    letter-spacing: 0.08rem;
    /*font-weight: bold;*/
}

.element-text-input-frames{
    color: #268C24;
    font-family: "Arial Black", sans-serif;
    /*font-size: 16px;*/
    /*letter-spacing: 0.08rem;*/
    /*font-weight: bold;*/
}

.element-text-input-frame-generated{
    color: #cc9859;
}

.occurrence-text{
    color: #ababab;
    font-style: italic;
    /*font-family: "Arial Black", sans-serif;*/
    /*font-weight: bold;*/
}

.frame-element{
    width: 46px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    border: 0.1px solid #ccc;
    margin: 0 4px;
}

.frame-element:hover{
    cursor: text;
}

.clear-elements-icon{
    font-size: 28px;
    color: #bd1d1d;
    vertical-align: middle;
}

.input-frame-component{
    /*flex-direction: column;*/

}

.container-title-elements{
    /*margin-right: 1rem;*/
}

/* xxs screen */
@media (max-width: 366px){
    .frame-element{
        width: 42px;
        height: 37px;
        text-align: center;
        border-radius: 8px;
        border: 0.1px solid #ccc;
        margin: 0 3px;
    }
}