.black{
    color: black;
}

.v-top{ vertical-align: top; }
.v-bottom{ vertical-align: bottom; }
.v-middle{ vertical-align: middle; }
.v-text-top{ vertical-align: text-top; }
.v-text-bottom{ vertical-align: text-bottom; }

.btn-default{
    color: #fff;
    background-color: #5B7389;
    border-color: #5B7389;
}

.lt-content-padding{
    padding-left: 10px !important;
    padding-top: 6px !important;
}

.lt-logo-small{
    width: 42px !important;
    height: 38px !important;
}

.lt-logo-medium{
    width: 98px;
    height: 89px;
}

.lt-logo-medium-to-small{
    width: 65px;
    height: 59px;
}

.lt-logo-medium-to-big{
    width: 120px;
    height: 109px;
}

.lt-logo-big{
    width: 165px;
    height: 150px;
}

.lt-logo-subtitle{
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.bg1 {
    background: #5c6df4 !important;
}

.bg2 {
    background: #19D0A2 !important;
}

.bg3 {
    background: #F7CB3F !important;
}

.bg4 {
    background: #c3b193 !important;
}

.no-margin-bottom{
    margin-bottom: 0 !important;
}

.no-margin-horizontal{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.sbar-fa-icon{
    color: white;
    font-size: 20px;
    margin-right: 5px;
}

.sbar-imoon-icon{
    color: #e6ddcd !important;
    font-size: 19px !important;
    margin-right: 2px !important;
}

.subtitle-small{
    color: #6c757d;
    font-size: 18px;
}

#span-precision{
    font-weight: 600;
    color: #2953c7;
}

/* Start Padding classes*/

.pd-0{
    padding: 0 !important;
}

.pd-1{
    padding: 1px !important;
}

.pd-2{
    padding: 2px !important;
}

.pd-3{
    padding: 3px !important;
}

.pd-4{
    padding: 4px !important;
}

.pd-5{
    padding: 5px !important;
}

.pd-6{
    padding: 6px !important;
}

.pd-7{
    padding: 7px !important;
}

.pd-8{
    padding: 8px !important;
}

.pd-9{
    padding: 8px !important;
}

.pd-10{
    padding: 10px !important;
}
/* End Padding classes*/

.metismenu li a i{
    color : #e6ddcd !important;
}

.metismenu li a:hover > i{
    color: #ffc300 !important;
}


.sbar-link:hover > i{
    color: #ffc300 !important;
}


/* xs screen (width: 367px ~ 574px) */
@media (min-width: 367px) and (max-width: 574px) {
    .d-xs-none{
        display: none !important;
    }

    .d-xs-block{
        display: block !important;
    }

    .d-xs-inline-block{
        display: inline-block !important;
    }

    .d-xs-table {
        display: table !important;
    }
    .d-xs-table-row {
        display: table-row !important;
    }
    .d-xs-table-cell {
        display: table-cell !important;
    }
    .d-xs-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-xs-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }

    .d-xs-inline{
        display: inline !important;
    }


}

/* xxs screen (width: 0px ~ 366px) */
@media (max-width: 366px) {

    .d-xxs-none{
        display: none !important;
    }

    .d-xxs-block{
        display: block !important;
    }

    .d-xxs-inline-block{
        display: inline-block !important;
    }

    .d-xxs-table {
        display: table !important;
    }
    .d-xxs-table-row {
        display: table-row !important;
    }
    .d-xxs-table-cell {
        display: table-cell !important;
    }
    .d-xxs-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-xxs-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }

    .d-xxs-inline{
        display: inline !important;
    }

}

.main-content{
    background: none !important;
    background-color: #FFF !important;
}

.bBox-icon{
    font-size: 20px;
    color: #000;
    vertical-align: middle;
}

/*.bBox-icon-success{ color : #5B7389; }
.bBox-icon-error{ color : black; }
.bBox-icon-warning{ color : black; }*/

.bBox-content{
    margin-bottom: 0;
}

.bBox-content p{
    font-size: 16px !important;
}

.error-bBox{
    color: #ad2121 !important;
}

.success-bBox{
    color: #5B7389 !important;
}

.warning-bBox{
    color: #d49332 !important;
}

#temp2{
    font-family: sans-serif;
}



