{% extends 'experimental.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block main_content_inner %}
{#    {% include 'srtdash-content-sample.html.twig' %}#}

    <div class="main-content-inner">

        <div class="input-frames-area my-5">

{#            <h4 class="header-title">Página Inicial</h4>#}

            <!-- Control home buttons area -->
            <div class="row">
                <div class="d-flex justify-content-center col-11 mx-auto">
                    <div class="d-flex containerBtnHome">
                        <a
                            href="{{ ABS_HOME_URI~'/admin/formAnalysis.php' }}"
                            class="btn btn-home btn-info lt-bg-blue col-4 lt-btn mr-3">
                            Análise de elementos
                        </a>

                        <button type="button" class="btn btn-home btn-info lt-bg-blue col-4 lt-btn">
                            #2
                        </button>

                        <button type="button" class="btn btn-home btn-info lt-bg-blue col-4 lt-btn ml-3">
                            #3
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="d-flex justify-content-center col-11 mx-auto">
                    <div class="d-flex containerBtnHome">
                        <button type="button" class="btn btn-home btn-info lt-bg-blue lt-btn mr-3">
                            #1
                        </button>

                        <button type="button" class="btn btn-home btn-info lt-bg-blue lt-btn">
                            #2
                        </button>

                        <button type="button" class="btn btn-home btn-info lt-bg-blue lt-btn ml-3">
                            #3
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}

    <!-- jQuery Autotab Lib -->
    <script src="{{ ABS_HOME_URI~'/temp/jquery.autotab.js' }}"></script>

    <!-- SessionManager JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/SessionManager/SessionManager.js' }}"></script>

    <!-- Elements JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Elements/Elements.js' }}"></script>

    <!-- DBCaching JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/DBCaching/DBCaching.js' }}"></script>

    <!-- Page custom JS -->
    <script
        type="text/javascript"
        src="{{ ABS_HOME_URI~'/admin/templates/pages/form-analysis/js/form-analysis.js' }}"></script>
{% endblock %}
