.btn-home{
    width: 140px;
    max-width: 140px;

    height: 80px;
    max-height: 80px;

    font-size: 16px;
    /*flex: 2;*/
    /*flex-direction: column;*/
    /*display: flex;*/
}

.btn-home:hover{
    color: #FFBE1A;
}

.containerBtnHome{
    min-width: 92%;
    background-color: #9bbeab;
    flex-direction: row;
    justify-content: center;
}



