{% extends 'experimental.html.twig' %}

{% block main_content_inner %}
{#    {% include 'srtdash-content-sample.html.twig' %}#}
    <div class="main-content-inner">
        <!-- overview area start -->
        {% block card_elements %}
        <div class='row mt-2 mb-3'>
            <div class='col'>
                <div class='card'>
                    {% for cardElement in cardElements %}
                        {{ cardElement|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endblock %}
        <!-- overview area end -->
    </div>
{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}
{% endblock %}