{% extends 'experimental.html.twig' %}
{% block title %}Estatística de Jogos Passados{% endblock %}
{% block subtitle %}Estatística de Jogos Passados{% endblock %}

{% block stylesheets %}
    <!-- Elements CSS -->
    <link
        type="text/css"
        rel="stylesheet"
        href="{{ ABS_HOME_URI~'/src/css/elements.css' }}"
    >
{% endblock %}

{% block main_content_inner %}
{#    {% include 'srtdash-content-sample.html.twig' %}#}

    <div class="main-content-inner">

        <div class="my-3">
            <p>Monstrando <b>{{ precision }}</b> jogos.</p>
        </div>

        <div class="input-frames-area my-2">
            {{ cardsContests|raw }}
        </div>

    </div>


{% endblock %}

{% block javascripts %}
    {% include 'sample-javascripts.html.twig' %}

    <!-- jQuery Autotab Lib -->
    <script src="{{ ABS_HOME_URI~'/temp/jquery.autotab.js' }}"></script>

    <!-- SessionManager JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/SessionManager/SessionManager.js' }}"></script>

    <!-- Elements JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Elements/Elements.js' }}"></script>

    <!-- DBCaching JS Class File -->
    <script src="{{ ABS_HOME_URI~'/src/js/Lottus/DBCaching/DBCaching.js' }}"></script>

    <!-- Copy-to-Clipboard JS Plugin -->
    <script src="{{ ABS_HOME_URI~'/node_modules/copy-to-clipboard/example/index.js' }}"></script>

    <!-- Page custom JS -->
    <script
        type="text/javascript"
        src="{{ ABS_HOME_URI~'/admin/templates/pages/statistics-of-previous-results/js/statistics-of-previous-results.js' }}"></script>
{% endblock %}
