.container-modal-header{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.mHeader-row{
    display: flex;
    flex: 1;
    flex-direction: row;
}

#divTitle{
    flex:11;
    flex-direction: column;
    font-size: 20px;
    padding-left: 32px !important;
}

#divTimes{
    flex:1;
    flex-direction: column;
    font-size: 20px;
}

#divSubtitle p{
    letter-spacing: 0.3px !important;
    font-size: 14.4px !important;
}

#body-modal-formAnalysis{
    margin: 16px;
}

.modal-dialog-formAnalysis{
    max-width: 75% !important;
}

/* XXS modal config */
@media (max-width: 366px) {

    .modal-dialog-formAnalysis{
        max-width: 90% !important;
    }

}



